.saveModalWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);

  .saveModal {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(46, 45, 45);
    border-radius: 0.25rem;

    .saveModal-header {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: flex-end;
      background: -moz-linear-gradient(
        90deg,
        rgba(156, 31, 149, 0) 0%,
        rgba(99, 2, 99, 0.7) 100%
      );
      background: -webkit-linear-gradient(
        90deg,
        rgba(156, 31, 149, 0) 0%,
        rgba(99, 2, 99, 0.7) 100%
      );
      background: linear-gradient(
        90deg,
        rgba(156, 31, 149, 0) 0%,
        rgba(99, 2, 99, 0.7) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9c1f95",endColorstr="#630263",GradientType=1);
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);

      .cancelIcon-wrapper {
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0.75rem;
        border-radius: 0.25rem 0 0 0.2rem;
        cursor: pointer;
        &:hover {
          background: linear-gradient(
            to left,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.1)
          );
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .saveModal-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .textFile-name {
        padding: 5px;
        width: 250px;
        margin-bottom: 70px;
      }
      button {
        margin: 0;
        width: 100%;
      }
    }
  }
}
