.gallery-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 50px;
  justify-content: center;
  overflow-y: auto;
  user-select: none;
  p.empty-directory {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #6d6d6d;
  }
}
