* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Uncial Antiqua', cursive;
}

input {
  border: none;
  border-radius: 5px;
}

button {
  border: none;
  border-radius: 5px;
}
