$primary-color: rgb(255, 85, 1);

.auth {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url('/assets/ui-background.svg');
  .authForm {
    display: flex;
    flex-direction: column;
    width: 500px;

    input {
      &:focus {
        outline: none;
      }
    }

    .authForm-header {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      .authForm-subheader {
        display: flex;
        align-items: flex-end;
        .title {
          font-size: 4.875rem;

          color: $primary-color;
        }
        .logoWrapper {
          img {
            object-fit: cover;
          }
        }
      }
      .description {
        color: white;
      }
    }

    .authForm-fields {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      input {
        width: 100%;
        padding: 1rem 2rem;
        font-size: 1.125rem;
        background: transparent;
        border-bottom: 1px solid $primary-color;
        color: white;
        caret-color: $primary-color;
      }
      > :nth-child(1) {
        margin: 2rem 0;
      }
      > :nth-child(2) {
        margin-bottom: 5rem;
      }
      button {
        width: 50%;
        padding: 1rem 2rem;
        font-size: 1.125rem;
        background: transparent;
        border: 1px solid $primary-color;
        color: white;
        cursor: pointer;
        font-weight: 700;
        transition: all ease-in-out 0.3s;
        &:hover {
          background: $primary-color;
        }
      }
    }
  }
}
