@import '../../includeMedia.scss';

$breakpoints: (
  phone: 320px,
  tablet: 840px,
);

$primary-color: rgb(255, 85, 1);

.ui {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: url('/assets/ui-background.svg');
  color: white;
  @include media('>=phone', '<=tablet') {
    flex-direction: column;
  }
  .windowArea {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
